<?php if ($availableTags): ?>
    <div class="form-preview">
        <p><?= e(trans('rainlab.notify::lang.action.these_variables_are_available')) ?>:</p>
        <div class="control-balloon-selector">
            <ul>
                <?php foreach ($availableTags as $tag => $description): ?>
                    <li
                        title="<?= $description ?>"
                        data-control="dragvalue"
                        data-drag-click="true"
                        data-text-value="{{ <?= $tag ?> }}">
                        {{ <?= $tag ?> }}
                    </li>
                <?php endforeach ?>
            </ul>
        </div>
        <div class="small"><em><?= e(trans('rainlab.notify::lang.action.click_or_drag_these')) ?></em></div>
    </div>
<?php else: ?>
    <div class="form-preview">
        <div><?= e(trans('rainlab.notify::lang.action.does_not_provide_any_variables')) ?></div>
    </div>
<?php endif ?>
