<?= Form::open(['id' => 'addRuleActionForm']) ?>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="popup">&times;</button>
        <h4 class="modal-title"><?= e(trans('rainlab.notify::lang.action.add_notification_action')) ?></h4>
    </div>
    <div class="modal-body">

        <?php if ($this->fatalError): ?>
            <p class="flash-message static error"><?= $fatalError ?></p>
        <?php else: ?>

            <div class="list-preview">
                <div class="control-simplelist is-selectable is-scrollable size-large" data-control="simplelist">
                    <ul>
                        <?php foreach ($actions as $class => $action): ?>

                            <li>
                                <a
                                    href="javascript:;"
                                    data-request="<?= $this->getEventHandler('onCreateAction') ?>"
                                    data-request-data="action_class: '<?= addslashes($class) ?>'"
                                    data-popup-load-indicator>
                                    <h5 class="heading"><?= e($action->getActionName()) ?></h5>
                                    <p class="description"><?= e($action->getActionDescription()) ?></p>
                                </a>
                            </li>

                        <?php endforeach ?>
                    </ul>
                </div>
            </div>

        <?php endif ?>

    </div>

    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-default"
            data-dismiss="popup">
            <?= e(trans('backend::lang.form.cancel')) ?>
        </button>
    </div>
<?= Form::close() ?>
